.easygento-tab strong {
    background: url(../images/easygento_logo.svg) no-repeat;
    background-size: 40px;
    background-position-y: -3px;
    padding-left: 40px;

}

#menu-easygento-core-menu > a {
    padding-top: 2px;
}

#menu-easygento-core-menu > a:before {
    content: '';
    background: url(../images/easygento_logo.svg) no-repeat;
    background-size: 55px;
    background-position-y: -4px;
    margin-top: 10px;
    height: 28px;
    background-position-x: 10px;
}