<?xml version="1.0"?>
<!--
/**
 * Easygento
 * @author Phuong LE <web.phuong.le@gmail.com>
 * @license Open Source License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Easygento_Core::menu" title="Easygento" module="Easygento_Core" sortOrder="50" resource="Easygento_Core::menu"/>
    </menu>
</config>
