<?xml version="1.0"?>
<!--
/**
 * Easygento
 * @author Phuong LE <web.phuong.le@gmail.com>
 * @license Open Source License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="easygento_core" translate="label" sortOrder="300" class="easygento-tab">
            <label>Easygento</label>
        </tab>
    </system>
</config>
